.contain {
  width: 64vw;
  margin-left: 2vw;
  height: 80vh;
  padding-top: 3vh;
  border: solid 30px #f1f1f1;
}

.outter_container {
    width: 71vw;
    height: 92vh;
    border: solid 0.2px #d0d7de;
}

.best_medicine {
  padding-top: 60%;
  display: flex;
  justify-content: center;
}

.doct {
  width: 85%;
  height: 80%;
  background-color: green;
}

.leading {
  padding-left: 56%;  
  width: 50%;
  font-weight: 900;
  padding-top: 10%;
}

.please {
  font-size: 40px;
  font-weight: 900;
}

.select {
  color: #d8d8d8;
  margin-top: -6.5%;
  margin-left: 16%;
}

.shape {
    width: 200px; 
    height: 100px; 
    background: linear-gradient(to right, white 0%,white 25%,#d0d7de 25%,#d0d7de 40%, 50%,#d0d7de 100%);
    -moz-border-radius: 100px / 50px; 
    -webkit-border-radius: 100px / 50px; 
    border-radius: 30px / 50px;
    margin-left: -8%;
 }

 .doctors_row {
     margin-top: 5%;
 }